// **********
// REACT COMPONENT
// **********


.WhatIveDone
  &-filters
    display: flex
    flex-wrap: wrap
    align-items: baseline
    justify-content: flex-start
    margin: 0 0 $spacer-xl $spacer-sm
    color: $greyDarken
    span
      flex-basis: 100%
      margin: 0 0 $spacer-sm
      +above($mobile)
        flex-basis: auto
        margin: 0 $spacer-sm 0 0
