// **********
// REACT COMPONENT
// **********


.Collapsible
  overflow: hidden
  border-radius: 2px
  box-shadow: rgba(#000, 0.117647) 0px 1px 6px,
    rgba(#000, 0.117647) 0px 1px 4px
  &.popOut
    margin: 0px 24px
    transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    &.is-open
      margin: 16px 0
      box-shadow: 0 5px 11px 0 rgba(#000, 0.18),
        0 4px 15px 0 rgba(#000, 0.15)
    &.is-close
      margin: 0 24px
  &-title
    position: relative
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    padding: 16px
    cursor: pointer
    &:focus,
    &:hover
      outline: none
      .Collapsible-expandIcon:after
        transform: scale(1)
  &-titleLeft
    flex: 1 0 80%
  &-titleIcon
    display: inline-block
    margin-right: 16px
    vertical-align: middle
  &-titleText
    color: $greyDarken
    vertical-align: middle
    font-size: $text-lg
  &-titleRight
    display: flex
    flex: 0 0 20%
    flex-wrap: wrap
    justify-content: flex-end
  &-expandIcon
    position: relative
    padding: 3.2px
    &.is-open
      transform: scaleY(-1)
    &:after
      position: absolute 0 // from the Rucksack plugin
      display: block
      border-radius: 50%
      background: rgba(224, 224, 224, 0.4)
      content: ''
      transform: scale(0)
      transition: transform 0.35s ease-out-back
  /* inside */ 
  &-hr
    position: absolute
    right: 24px
    bottom: -8px
    left: 16px
    border-top: none
    border-bottom: 1px solid $accent-color
  &-list
    padding: 0 0 $spacer-md $spacer-md
    list-style-type: circle
    li
      padding-bottom: $spacer-sm
  &:not(.popOut)
    .Collapsible-list
      padding-bottom: 0px
  &-text
    padding-left: $spacer-sm
    color: $secondary-text
    font-size: $text-md
  &-text:first-letter
    font-size: 1.2em
