// **********
// REACT COMPONENT
// **********


/* SUIT CSS Conventions
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* core */
$textBlock
  position: relative
  margin: $spacer-sm 0 0 $spacer-sm
  max-width: 700px
  font-size: $text-lg


.Main
  flex: 1 0 auto
  margin: 0 auto
  padding: 0 $spacer-regular
  max-width: 1024px
  width: 100%
  +above($mobile)
    padding: 0 $spacer-lg
  &-textBlock
    /* default */
    @extend $textBlock
    &--extended
      /* modifier */
      @extend $textBlock
      +above($tablet)
        padding-right: 1.5em
        &:after
          position: absolute
          top: 0
          bottom: 0
          left: 100%
          display: block
          width: 72px
          background: url('../images/arrow.svg') 10px center/contain no-repeat
          content: ''
          animation: landing 1.4s ease-out-back 0.7s both
