// **********
// REACT COMPONENT
// **********


.Nav
  u-boxShadow()
  flex: none
  margin-bottom: $spacer-regular
  padding: $spacer-md $spacer-regular 0
  color: $white
  text-align: center
  &-avatar
    overflow: hidden
    margin: 0 auto
    width: 160px
    height: 160px
    border-radius: 50%
    background: $white
  &-heading
    margin: $spacer-regular 0 0
    color: $white
    letter-spacing: 5px
    font-size: $text-xl
  &-subHeading
    display: inline-block
    padding: ($spacer-sm / 2) $spacer-sm
    border-radius: 2px
    background: $accent-color
    font-style: italic
    font-family: $headings-font-family
  &-list
    display: none
    +above($mobile)
      position: relative
      display: block
      clear: fix
      margin: $spacer-md auto
      max-width: 1280px
      text-transform: uppercase
      animation: slideUp 0.7s ease-in-out-quad
  &-list li
    +above($mobile)
      sym-grid(2, 0px)
    +above($tablet)
      sym-grid(4, 0px)
  &-link
    +above($mobile)
      a($white)
      display: block
      padding: $spacer-md $spacer-lg
      font-weight: 300
      font-size: responsive 20px 25px
      &:hover,
      &.is-active
        background: shade($primary-color, 10%)


/* Menu Icon
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.Nav
  &-icon
    position: relative
    margin: $spacer-md 0
    text-align: left
    cursor: pointer
    animation: slideLeft 0.35s ease-out-back
    +above($mobile)
      display: none