// **********
// REACT COMPONENT
// **********


.ToolTips
  position: relative
  cursor: pointer
  &-hiddenText
    position: absolute
    bottom: 110%
    left: 50%
    z-index: 2
    display: none
    padding: 0.4em
    border-radius: 2px
    background: rgba($grey-darken-2, 0.9)
    color: $white
    text-align: center
    white-space: nowrap
    font-weight: 400
    transform-origin: center bottom 0px
    &.is-visible
      display: block
      animation: toolTip 0.2s cubic-bezier(0, 0, 0.2, 1) forwards
  &-text
    u-highlight()
    u-link()
