
:global .v-wheretofindme {
  &-email {
    margin: var(--spacer) 0;
    font-size: var(--text-xl);
    font-family: var(--headings-font-family);
    @apply --underline-left;
    &:--link-color {
      color: var(--accent-color);
    }
  }
}
