
/* Collapsible Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.l-CollapsibleContainer
  position: relative
  margin-bottom: $spacer-regular
  +above($tablet)
    overflow: hidden
    padding: $spacer-regular $spacer-sm
    &:before
      position: absolute
      top: 0px
      bottom: 0px
      left: 50%
      margin: $spacer-regular 0
      width: 1px
      background: $grey-lighten-2
      content: ""
      transform: translateX(-50%)
    &:after
      width: 12px
      height: 12px
      centerXY()
      border: 1px solid $grey-lighten-2
      border-radius: 50%
      background: $white
      content: ""


/* inside 'CollapsibleContainer'
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.l-CollapsibleContainer-left,
.l-CollapsibleContainer-right
  +above($tablet)
    float: left
    width: 50%


.l-CollapsibleContainer
  &-left
    +above($tablet)
      padding-right: $spacer-md
  &-right
    +above($tablet)
      padding-left: $spacer-md


/* dividers between each 'item'
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.Collapsible-item[data-divider="true"]
  position: relative
  margin-bottom: $spacer-xl
  &:before
    position: absolute
    right: 0
    bottom: -($spacer-xl / 2)
    left: 0
    margin: 0 10em
    height: 1px
    background: $grey-lighten-2
    content: ""
  &:after
    position: absolute
    bottom: -28px
    left: 50%
    width: 12px
    height: 12px
    border: 1px solid $grey-lighten-2
    border-radius: 50%
    background: $white
    content: ""
    transform: translateX(-50%)
  +above($tablet)
    margin-bottom: 0
    &:before,
    &:after
      content: none
