
.Footer {
  flex: none;
  margin-top: var(--spacer-lg);
  color: #fff;
  text-align: center;
  &-body {
    padding: var(--spacer-lg) 0;
    letter-spacing: 2px;
    font-size: var(--text-md);
  }
  &-icons {
    box: horizontal-middle center wrap;
    margin-top: var(--spacer-sm);
  }
  &-overlay {
    padding: var(--spacer-sm) var(--spacer-lg);
    background: color(var(--primary-color) shade(20%));
  }
}


/* Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.Footer {
  &-Heart {
    transform: translateZ(0); /* trick to smooth out the animation */
    animation: beatingHeart 1s cubic-bezier(0.9, -0.9, 0.9, 0.9) infinite;
  }
  &-body:hover {
    & .Footer-Heart {
      animation: beatingHeartStronger 0.95s cubic-bezier(0.9, -5.9, 0.9, 5.9) infinite;
    }
  }
}
