
.ToolTips {
  position: relative;
  cursor: pointer;
  &-hiddenText {
    position: absolute null null 110% 50%;
    z-index: 2;
    padding: 0.4em;
    border-radius: 2px;
    background: rgba(var(--grey-darken), 0.9);
    color: #fff;
    text-align: center;
    white-space: nowrap;
    font-weight: 400;
    transform-origin: center bottom 0;
  }
  &-text {
    @apply --highlight;
    @apply --link;
  }
}
