
:root {
  --primary-text: #333;
  --secondary-text: color(var(--primary-text) tint(10%));
  --headings: var(--primary-text);
  --links: var(--primary-text);
  --primary-color: #2196f3;
  --accent-color: #6200ea;
  --grey: #bdbdbd;
  --grey-lighten: #e0e0e0;
  --grey-lighten-2: #9e9e9e;
  --grey-darken: #757575;
}