
/* Adds a border-bottom and fills up an element on hover
–––––––––––––––––––––––––––––––––––––––––––––––––– */

fill-this($fill-color = $accent-color)
  padding: 0.2em
  background: linear-gradient($fill-color, $fill-color) bottom no-repeat
  background-size: 100% 2px
  font-weight: 600
  transition: background-size .1s
  &:hover
    background-size: 100% 100%


/* Underline From Left (ported from Hover.css)
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  underlineFromLeft()
    display: inline-block
    vertical-align: middle
    transform: translateZ(0)
    backface-visibility: hidden
    position: relative
    &:before
      position: absolute
      right: 100%
      bottom: -10px
      left: 0
      z-index: -1
      margin-top: 12px
      height: 4px
      background: $accent-color
      content: ''
      transition: right 0.2s ease-out-sine // from the Rucksack plugin
    &:hover:before, &:focus:before, &:active:before
      right: 0
