
/* Collapsible Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:global .l-collapsibleContainer {
  position: relative;
  margin-bottom: var(--spacer);
  @media (--above-tablet) {
    overflow: hidden;
    padding: var(--spacer) var(--spacer-sm);
    &:before {
      position: absolute 0 null 0 50%;
      margin: var(--spacer) 0;
      width: 1px;
      background: var(--grey-lighten);
      content: "";
      transform: translateX(-50%);
    }
    &:after {
      width: 12px;
      height: 12px;
      border: 1px solid var(--grey-lighten);
      border-radius: 50%;
      background: #fff;
      content: "";
      @apply --center-xy;
    }
  }
}


/* inside 'CollapsibleContainer'
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:global .l-collapsibleContainer-left,
:global .l-collapsibleContainer-right {
  @media (--above-tablet) {
    float: left;
    width: 50%;
  }
}


:global .l-collapsibleContainer {
  &-left {
    @media (--above-tablet) {
      padding-right: var(--spacer-md);
    }
  }
  &-right {
    @media (--above-tablet) {
      padding-left: var(--spacer-md);
    }
  }
}


/* dividers between each 'item'
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:global .collapsible-item[data-divider="true"] {
  position: relative;
  margin-bottom: var(--spacer-xl);
  &:before {
    position: absolute null 0 -22px 0;
    margin: 0 10em;
    height: 1px;
    background-color: var(--grey-lighten);
    content: "";
  }
  &:after {
    position: absolute;
    bottom: -28px;
    left: 50%;
    width: 12px;
    height: 12px;
    border: 1px solid var(--grey-lighten);
    border-radius: 50%;
    background: #fff;
    content: "";
    transform: translateX(-50%);
  }
  @media (--above-tablet) {
    margin-bottom: 0;
    &:before,
    &:after {
      content: none;
    }
  }
}