@import "../../../styles/base/_settings.css";
@import "../../../styles/utils/_helpers.css";

.root {
  flex: none;
  margin-bottom: var(--spacer);
  padding: var(--spacer-md) var(--spacer) 0;
  color: #fff;
  text-align: center;
  @apply --box-shadow;
}

.avatar {
  overflow: hidden;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  background: #fff;
  border-radius: 50%;
}

.heading {
  margin: var(--spacer) 0 0;
  color: #fff;
  font-size: var(--text-xl);
  letter-spacing: 5px;
}

.subHeading {
  display: inline-block;
  padding: var(--spacer-xs) var(--spacer-sm);
  background: var(--accent-color);
  border-radius: 2px;
  font-family: var(--headings-font-family);
  font-style: italic;
}

.list {
  display: none;
  @media (--above-mobile) {
    box: horizontal-left wrap;
    position: relative;
    max-width: 1280px;
    margin: var(--spacer-md) auto;
    text-transform: uppercase;
    &:global {
      animation: slideUp 0.7s ease-in-out-quad;
    }
  }
  & li {
    box: horizontal-middle center wrap;
    flex: 0 1 auto;
    transition: background-color 0.3s ease-in-out;
    @media (--above-mobile) {
      width: 50%;
    }
    @media (--above-tablet) {
      width: 25%;
    }
    &:global {
      &:hover,
      &.is-active {
        background: color(var(--primary-color) shade(10%));
      }
    }
  }
}

.link {
  display: block;
  width: 100%;
  padding: var(--spacer-md) var(--spacer-md);
  color: #fff;
  font-size: responsive 20px 25px;
  font-weight: 300;
}

/* Menu Icon
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  position: relative;
  margin: var(--spacer-md) 0;
  text-align: left;
  cursor: pointer;
  &:global {
    animation: slideLeft 0.35s ease-out-back;
  }
  @media (--above-mobile) {
    display: none;
  }
}
